/*
 * Colors
 *
 * Use the following website to help you name the colors:
 * http://chir.ag/projects/name-that-color
 */

$color-black = #000000
$color-white = #ffffff
$color-sea-green = #338656


/*
 * Typography
 */

// Font Families
$font-family-sans-serif = Arial, Helvetica, sans-serif
$font-family-marvel = 'Marvel', sans-serif

// Font Sizes
$font-size-largest = 50px
$font-size-large = 30px
$font-size-medium = 16px
$font-size-small = 13px

// Font Weights
$font-weight-sans-serif-regular = normal
$font-weight-sans-serif-bold = bold
$font-weight-marvel-regular = 400
$font-weight-marvel-bold = 700

// Font Faces
$font-faces = {
	name: 'Marvel',
	file: 'Marvel-Regular',
	weight: $font-weight-marvel-regular
}, {
	name: 'Marvel',
	file: 'Marvel-Bold',
	weight: $font-weight-marvel-bold
}


/*
 * Transition Duration
 */

$transition = .5s
$transition-fast = .25s
$transition-slow = 1s


/*
 * Breakpoints
 *
 * See how to use Mantis Querist:
 * https://github.com/mantis-stack/mantis-querist
 */

querist-init()


/*
 * Grid
 *
 * See how to use Mantis Grid System:
 * https://github.com/mantis-stack/mantis-grid
 */

grid-init()


/*
 * Scaffolding
 */

$body-bg = $color-sea-green
$body-color = $color-white
