/*
 * Colors
 *
 * Use the following website to help you name the colors:
 * http://chir.ag/projects/name-that-color
 */

$color = {
	black: #000,
	white: #fff,
	sea-green: #338656
}


/*
 * Typography
 */

// @stylint off
$font = {
	// Font Names
	alias: {
		default: 'sans-serif',
		alt: 'marvel'
	},

	// Font Families
	family: {
		sans-serif: unquote('Arial, Helvetica, sans-serif'),
		marvel: unquote('"Marvel", sans-serif')
	},

	// Font Weights
	weight: {
		sans-serif-regular: normal,
		sans-serif-bold: bold,
		marvel-regular: 400,
		marvel-bold: 700
	},

	// Font Sizes
	size: {
		small: 13px,
		medium: 16px,
		large: 30px,
		big: 50px
	},

	// Font Trackings
	tracking: {
		default: 0em,
		near: -0.02em,
		far: 0.02em,
	},

	// Font Leadings
	leading: {
		default: 1.2em,
		near: .8em,
		far: 1.5em
	}
}

// Font Faces
$font.face = {
	name: 'Marvel',
	file: 'Marvel-Regular',
	weight: $font-weight-marvel-regular
}, {
	name: 'Marvel',
	file: 'Marvel-Bold',
	weight: $font-weight-marvel-bold
}

// Font Definitions
$font.family.default = $font.family[$font.alias.default]
$font.family.alt = $font.family[$font.alias.alt]
$font.weight.default = $font.weight[$font.alias.default + '-regular']
$font.weight.alt = $font.weight[$font.alias.alt + '-regular']
// @stylint on


/*
 * Transition
 */

// @stylint off
$transition = {
	time: {
		default: .5s,
	},

	easing: {
		default: 'ease',
		inOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55)
	}
}

$transition.time.fast = $transition.time.default / 2
$transition.time.slow = $transition.time.default * 2
// @stylint on


/*
 * Equalizr
 *
 * See how to use Mantis Equalizr:
 * https://github.com/acauamontiel/mantis-equalizr
 */

equalizr-init()


/*
 * Breakpoints
 *
 * See how to use Mantis Querist:
 * https://github.com/acauamontiel/mantis-querist
 */

querist-init()


/*
 * Grid
 *
 * See how to use Mantis Grid System:
 * https://github.com/acauamontiel/mantis-grid
 */

grid-init()
