/*
 * General Config
 */

$transition-default = $transition.time.default
$transition-slow = $transition.time.slow
$transition-fast = $transition.time.fast

$body-color = $color.white
$body-background = $color.sea-green


/*
 * General Styles
 */

+selection()
	color $body-color
	background $body-bg

body
	color $body-color
	background $body-background url('../img/backgrounds/mantis-mobile.jpg') center center no-repeat
	background-size cover

	@media $from.lg
		background-image url('../img/backgrounds/mantis.jpg')

h1
	animation $transition-slow fadeInRight

h2
	animation $transition-slow fadeInLeft

p
	animation $transition-slow fadeInUp
