//- Info
meta(name="robots", content="all")
meta(name="description", content= description)
meta(name="keywords", content="")
meta(name="author", content="")
meta(name="rating", content="General")
meta(name="date", content="")
meta(name="copyright", content="")
meta(name="contact", content="")
meta(name="reply-to", content="")
meta(name="generator", content="Sublime Text 3")
//- Open Graph - http://ogp.me/
meta(property="og:site_name", content="")
meta(property="og:title", content= title)
meta(property="og:type", content="website")
meta(property="og:url", content="")
meta(property="og:image", content="img/share-image.png")
meta(property="og:description", content= description)
meta(property="og:locale", content="")
//- Twitter Cards - https://dev.twitter.com/cards/getting-started
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@tripleverge")
meta(name="twitter:creator", content="@acauamontiel")
meta(name="twitter:title", content= title)
meta(name="twitter:description", content= description)
meta(name="twitter:image", content= "img/share-image.png")
